In [1]:
import os
import pandas as pd

csv_dl_folder = 'price_csv_dl'
week_month_folder = 'etf_week_month_data'
if not os.path.exists(week_month_folder):
    os.mkdir(week_month_folder)


def to_df(folder):
    files = os.listdir(folder)
    df_closes = []
    df_empty = True

    for file in files:
        etf_name = file.split('.')[0]
        file = os.path.join(folder, file)

        df = pd.read_csv(file)

        df_close = df[['Date', 'Close']]
        df_close.rename(columns={'Close': etf_name}, inplace=True)

        if df_empty:
            df_closes = df_close
            df_empty = False
            continue

        df_closes = pd.merge(df_closes, df_close, on='Date', how='outer')
    return df_closes


price_folders = os.listdir(csv_dl_folder)
# Consumer Staples Equity folder
cse_folder = price_folders[1]
cse_price_folder = os.path.join(csv_dl_folder, cse_folder)

cse_etf_df = to_df(cse_price_folder)
cse_etf_df.head(10)

/home/denny/anaconda3/envs/mysql/lib/python3.6/site-packages/pandas/core/frame.py:4025: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,Date,XLP,PBJ,FSTA,EMCG,WBIL,RHS,KXI,PSL,PSCC,UGE,IYK,VDC,WBIE,WBID,SZK,ECON,FXG
0,2015-12-31,50.490002,32.200001,30.280001,19.327999,22.478001,116.019997,46.514999,56.790001,54.900002,35.166668,108.430000,129.070007,23.106001,21.299999,21.510000,21.260000,44.450001
1,2016-01-04,49.849998,31.549999,29.809999,18.600000,22.110001,114.449997,45.825001,55.590000,53.259998,33.500000,106.730003,127.400002,22.600000,20.750000,21.510000,20.719999,43.939999
2,2016-01-05,50.169998,31.770000,30.020000,18.600000,22.270000,115.150002,45.939999,56.169998,53.680000,33.556667,107.110001,128.149994,22.674999,20.966999,22.580000,20.900000,44.119999
3,2016-01-06,50.000000,31.650000,29.930000,18.700001,22.080000,114.760002,45.535000,55.980000,53.540001,33.216667,106.110001,127.610001,22.440001,20.798000,22.930000,20.490000,43.869999
4,2016-01-07,49.400002,31.160000,29.530001,17.927999,21.775999,113.230003,44.939999,55.040001,52.700001,32.023335,104.000000,125.970001,22.049000,20.475000,23.459999,19.730000,43.330002
5,2016-01-08,49.020000,30.980000,29.309999,17.927999,21.570000,112.489998,44.580002,54.750000,52.610001,31.903334,103.050003,124.989998,21.850000,20.250000,23.990000,19.530001,43.200001
6,2016-01-11,49.480000,31.200001,29.570000,17.683001,21.700001,113.190002,44.965000,55.220001,53.320000,31.660000,103.750000,126.050003,21.910000,20.379999,24.200001,19.389999,43.410000
7,2016-01-12,49.750000,31.469999,29.690001,17.650000,21.837999,113.989998,45.290001,55.720001,53.880001,32.106667,104.410004,126.739998,22.080000,20.430000,23.719999,19.629999,43.779999
8,2016-01-13,48.840000,30.709999,29.209999,17.690001,21.549999,111.529999,44.555000,53.950001,52.450001,31.020000,102.440002,124.519997,21.750000,20.096001,24.459999,19.370001,42.919998
9,2016-01-14,49.070000,30.830000,29.320000,17.600000,21.600000,112.070000,44.790001,54.259998,53.049999,31.193333,102.470001,124.919998,21.916000,20.291000,24.530001,19.580000,42.900002

In [2]:
import datetime

per_week_data = []
per_month_data = []


def get_weekday(date_string):
    date_lt = list(map(int, date_string.split('-')))
    date_weekday = datetime.date(date_lt[0], date_lt[1], date_lt[2]).weekday()
    return date_weekday


def get_month(date_string):
    date_lt = list(map(int, date_string.split('-')))
    return date_lt[1]


# Get week and month month with dataframe
for idx, date_string in enumerate(cse_etf_df['Date']):
    if idx == len(cse_etf_df['Date']) - 1:
        continue
    if get_weekday(cse_etf_df['Date'][idx]) > get_weekday(cse_etf_df['Date'][idx + 1]):
        per_week_data.append([cse_etf_df['Date'][idx], idx])
    if get_month(cse_etf_df['Date'][idx]) != get_month(cse_etf_df['Date'][idx + 1]):
        per_month_data.append([cse_etf_df['Date'][idx], idx])

In [3]:
print(per_week_data, len(per_week_data))
print(per_month_data, len(per_month_data))

[['2015-12-31', 0], ['2016-01-08', 5], ['2016-01-15', 10], ['2016-01-22', 14], ['2016-01-29', 19], ['2016-02-05', 24], ['2016-02-12', 29], ['2016-02-19', 33], ['2016-02-26', 38], ['2016-03-04', 43], ['2016-03-11', 48], ['2016-03-18', 53], ['2016-03-24', 57], ['2016-04-01', 62], ['2016-04-08', 67], ['2016-04-15', 72], ['2016-04-22', 77], ['2016-04-29', 82], ['2016-05-06', 87], ['2016-05-13', 92], ['2016-05-20', 97], ['2016-05-27', 102], ['2016-06-03', 106], ['2016-06-10', 111], ['2016-06-17', 116], ['2016-06-24', 121], ['2016-07-01', 126], ['2016-07-08', 130], ['2016-07-15', 135], ['2016-07-22', 140], ['2016-07-29', 145], ['2016-08-05', 150], ['2016-08-12', 155], ['2016-08-19', 160], ['2016-08-26', 165], ['2016-09-02', 170], ['2016-09-09', 174], ['2016-09-16', 179], ['2016-09-23', 184], ['2016-09-30', 189], ['2016-10-07', 194], ['2016-10-14', 199], ['2016-10-21', 204], ['2016-10-28', 209], ['2016-11-04', 214], ['2016-11-11', 219], ['2016-11-18', 224], ['2016-11-25', 228], ['2016-12-02', 233], ['2016-12-09', 238], ['2016-12-16', 243], ['2016-12-23', 248], ['2016-12-30', 252], ['2017-01-06', 256], ['2017-01-13', 261], ['2017-01-20', 265], ['2017-01-27', 270], ['2017-02-03', 275], ['2017-02-10', 280], ['2017-02-17', 285], ['2017-02-24', 289], ['2017-03-03', 294], ['2017-03-10', 299], ['2017-03-17', 304], ['2017-03-24', 309], ['2017-03-31', 314], ['2017-04-07', 319], ['2017-04-13', 323], ['2017-04-21', 328], ['2017-04-28', 333], ['2017-05-05', 338], ['2017-05-12', 343], ['2017-05-19', 348], ['2017-05-26', 353], ['2017-06-02', 357], ['2017-06-09', 362], ['2017-06-16', 367], ['2017-06-23', 372], ['2017-06-30', 377], ['2017-07-07', 381], ['2017-07-14', 386], ['2017-07-21', 391], ['2017-07-28', 396], ['2017-08-04', 401], ['2017-08-11', 406], ['2017-08-18', 411], ['2017-08-25', 416], ['2017-09-01', 421], ['2017-09-08', 425], ['2017-09-15', 430], ['2017-09-22', 435], ['2017-09-29', 440], ['2017-10-06', 445], ['2017-10-13', 450], ['2017-10-20', 455], ['2017-10-27', 460], ['2017-11-03', 465], ['2017-11-10', 470], ['2017-11-17', 475], ['2017-11-24', 479], ['2017-12-01', 484], ['2017-12-08', 489], ['2017-12-15', 494], ['2017-12-22', 499], ['2017-12-29', 503], ['2018-01-05', 507], ['2018-01-12', 512], ['2018-01-19', 516], ['2018-01-26', 521], ['2018-02-02', 526], ['2018-02-09', 531], ['2018-02-16', 536], ['2018-02-23', 540], ['2018-03-02', 545], ['2018-03-09', 550], ['2018-03-16', 555], ['2018-03-23', 560], ['2018-03-29', 564], ['2018-04-06', 569], ['2018-04-13', 574], ['2018-04-20', 579], ['2018-04-27', 584], ['2018-05-04', 589], ['2018-05-11', 594], ['2018-05-18', 599], ['2018-05-25', 604], ['2018-06-01', 608], ['2018-06-08', 613], ['2018-06-15', 618], ['2018-06-22', 623], ['2018-06-29', 628], ['2018-07-06', 632], ['2018-07-13', 637], ['2018-07-20', 642], ['2018-07-27', 647], ['2018-08-03', 652], ['2018-08-10', 657], ['2018-08-17', 662], ['2018-08-24', 667], ['2018-08-31', 672], ['2018-09-07', 676], ['2018-09-14', 681], ['2018-09-21', 686], ['2018-09-28', 691], ['2018-10-05', 696], ['2018-10-12', 701], ['2018-10-19', 706], ['2018-10-26', 711], ['2018-11-02', 716], ['2018-11-09', 721], ['2018-11-16', 726], ['2018-11-23', 730], ['2018-11-30', 735], ['2018-12-07', 739], ['2018-12-14', 744], ['2018-12-21', 749], ['2018-12-28', 753], ['2019-01-04', 757], ['2019-01-11', 762], ['2019-01-18', 767], ['2019-01-25', 771], ['2019-02-01', 776], ['2019-02-08', 781], ['2019-02-15', 786], ['2019-02-22', 790], ['2019-03-01', 795], ['2019-03-08', 800], ['2019-03-15', 805]] 168
[['2015-12-31', 0], ['2016-01-29', 19], ['2016-02-29', 39], ['2016-03-31', 61], ['2016-04-29', 82], ['2016-05-31', 103], ['2016-06-30', 125], ['2016-07-29', 145], ['2016-08-31', 168], ['2016-09-30', 189], ['2016-10-31', 210], ['2016-11-30', 231], ['2016-12-30', 252], ['2017-01-31', 272], ['2017-02-28', 291], ['2017-03-31', 314], ['2017-04-28', 333], ['2017-05-31', 355], ['2017-06-30', 377], ['2017-07-31', 397], ['2017-08-31', 420], ['2017-09-29', 440], ['2017-10-31', 462], ['2017-11-30', 483], ['2017-12-29', 503], ['2018-01-31', 524], ['2018-02-28', 543], ['2018-03-29', 564], ['2018-04-30', 585], ['2018-05-31', 607], ['2018-06-29', 628], ['2018-07-31', 649], ['2018-08-31', 672], ['2018-09-28', 691], ['2018-10-31', 714], ['2018-11-30', 735], ['2018-12-31', 754], ['2019-01-31', 775], ['2019-02-28', 794]] 39

In [6]:
week_data_all = {}
month_data_all = {}
for etf in cse_etf_df.columns:
    if etf == 'Date':
        continue
    week_data = []
    month_data = []
    for idx, (_, week_end_idx) in enumerate(per_week_data):
        if idx == 0:
            continue
        this_week = float(cse_etf_df[etf][week_end_idx])
        last_week = float(cse_etf_df[etf][per_week_data[idx - 1][1]])
        week_data.append((this_week - last_week) / this_week)
    for idx, (_, month_end_idx) in enumerate(per_month_data):
        if idx == 0:
            continue
        this_month = float(cse_etf_df[etf][month_end_idx])
        last_month = float(cse_etf_df[etf][per_month_data[idx - 1][1]])
        month_data.append((this_month - last_month) / this_month)

    week_data_all[etf] = week_data
    month_data_all[etf] = month_data

df_week_data = pd.DataFrame(week_data_all)
df_month_data = pd.DataFrame(month_data_all)

df_week_data.to_csv(os.path.join(week_month_folder, 'cse_week_data.csv'))
df_month_data.to_csv(os.path.join(week_month_folder, 'cse_month_data.csv'))